/******************************************MORE THAN 1330***************************************************/

@media screen and (min-width: 1243px) {
    
.up {
    margin-top: -400px;
    padding: 20px;
    width: 50%;
    }  
    
.container {
        height: 400px;
    }
 
.bottom {
     margin-left: 400px;   
    
    }    
    
}


/******************************************MORE THAN 857***************************************************/
@media screen and (min-width: 857px) {
.smalltext {
    padding-top: 50px;
    } 
    .bigger {
        padding-left:0;
        text-align: center;
    }
    .hide {
        display: none;
        
    }

    
}


/******************************************LESS THAN 1021***************************************************/
@media screen and (max-width: 1021px) {
    
nav a {
      font-size: 20px;     
    }    
.width {
        width: 100px;
     }
.smalltext {
        margin-left: 20px;
    }
}

/******************************************LESS THAN 808***************************************************/
@media screen and (max-width: 808px) {
    
 p {
        font-size: 24px;
    }
 

}




/******************************************LESS THAN 591***************************************************/
@media screen and (max-width: 591px) {
    
p {
        width: 400px;
        height: auto;
    } 
}
    




/******************************************LESS THAN 650***************************************************/
@media screen and (max-width: 1010px) {

    header {
        font-size: 100px;
    }
    
}


/******************************************LESS THAN 650***************************************************/
@media screen and (max-width: 650px) {
    
nav  {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        justify-content: center;
    }  
    
.width {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
    }
    
nav a {
        font-size: 15px;
    }

.smallhead {
        font-size: 20px;
        padding: 20px;
    }
    
.smalltext {
       font-size: 16px;
       justify-content: center;
       width: 50%;
    
        }
    
.down {
    margin-top: 65px;
        
    }
    
.full {
    width: 100%;
    }
    
.bigger {
    text-align: center;
    padding-left: 0;
    }
    
.spacingissue {
    justify-content: center;
    }
    
.hide {
        width: 3px;
        margin-top: -200px;
        text-align: right;
        margin-left: 240px;
        line-height: 28px;
    }
    
    .sizing {
        width: 95%;
    }

header {
        width: 100%;
        text-align: center;
        font-size: 65px;
        
        
    }


}
